/*html { 
  background: url(http://i11.photobucket.com/albums/a165/knd2345/DSCF1444_zps2dd35318.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#header {
	padding-left: 50px;
	margin: 0px;
	font-size: 70px;
	font-family: Arial;
	font-weight: bold;
	display: inline-block;
	padding-top: 25px;
	}

#nav {
	padding-left: 100px;
	font-size: 20px;
	font-family: Arial;
	display: inline-block;
	padding-top: 25px;
	}

.button {
	display: block;
	height: 100 px;
	width: 150px;
	background: #fff;
	border: 2px solid black;
	display: inline-block;
	color: #000;
	text-align: center;
	font: bold Arial;
	
	text-decoration: none;
	}

a.button:hover {
	background: #000;
	color: #fff;
	}
	
body {
	padding-left: 0px;
	}
	
.content {
	padding-left: 300px;
	float: none;
	padding-right: 50px;
	}

#contact {
	padding-left: 50px;
	padding-top: 50px;
	float: left;
	font-family: "Times New Roman";
	font-size: 14px;
	width: 200px;
	text-align: center;
	}
	
h1 {
	font-family: Arial;
	color: white;
	background: #000;
	padding-left: 10px;
	}

h2 {
	font-family: Arial;
	color: black;
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	}
	
h3 {
	font-family: Arial;
	color: white;
	background: black;
	font-size: 26px;
	text-align: center;
	}
	
.circle {
		width:200px;
		height:200px;
		border-radius:100px;
		font-size:20px;
		color:#fff;
		line-height:100px;
		text-align:center;
		background:#000
		}
	
#footer {
	position: relative;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background: #fff;
	font-family: Helvetica ;
	}